/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mdc-notched-outline__notch
{
  border-right: none;
}

.error-snackbar {
    --mdc-snackbar-container-color: #dc2626;
    --mat-snack-bar-button-color: white;
}

.error-snackbar .mat-mdc-snack-bar-label {
    color: white;
}